html{
	font-family:"Open Sans" ;
	font-size:16px;
}


.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 16px;


}

h1 {
	color:#323232;
	padding:0;
	margin:0;
}

h2 {
	color:#323232;
	padding:0;
	margin:0;
}

hr {
	border:0;
	border-top:1px solid #323232;
}

ul {
	padding:0 0 0 1.2rem;
	margin:0;
}

.mt-06{
	margin-top:0.6rem;
}


.mt-1 {
	margin-top:1rem;
}

.mt-2 {
	margin-top:2rem;
}

.mt-5{
	margin-top:5rem;
}

.mb-4{
	margin-bottom:4rem;
}

.ml-1 {
	margin-left:1rem;
}


.col {
	display:flex;
	flex-direction:column;
}

.row {
	display:flex;
	flex-direction:row;
}

.justify-center {
	justify-content:center;
}

.align-center {
	align-items:center;
}

.space-between {
	justify-content:space-between;
}

.text-center {
	text-align:center;
}

.font-topic-1{
	font-size:1rem;
	font-weight:700;
	color:#323232;
	margin-bottom:0.5rem;
}

.font-topic-2{
	font-size:0.8rem;
	font-weight:700;
	color:#323232;
}

.font-body{
	font-size:0.8rem;
	color:#323232;
}
